<link rel="icon" href="/theme/boost/pix/{{output.env}}/icons/favicon-16x16.png" type="image/png" size="16x16" />
<link rel="icon" href="/theme/boost/pix/{{output.env}}/icons/favicon-32x32.png" type="image/png" size="32x32" />
<link rel="apple-touch-icon" href="/theme/boost/pix/{{output.env}}/icons/apple-touch-icon-57x57.png" sizes="57x57" />
<link rel="apple-touch-icon" href="/theme/boost/pix/{{output.env}}/icons/apple-touch-icon-60x60.png" sizes="60x60" />
<link rel="apple-touch-icon" href="/theme/boost/pix/{{output.env}}/icons/apple-touch-icon-72x72.png" sizes="72x72" />
<link rel="apple-touch-icon" href="/theme/boost/pix/{{output.env}}/icons/apple-touch-icon-114x114.png" sizes="114x114" />
<link rel="apple-touch-icon" href="/theme/boost/pix/{{output.env}}/icons/apple-touch-icon-120x120.png" sizes="120x120" />
<link rel="apple-touch-icon" href="/theme/boost/pix/{{output.env}}/icons/apple-touch-icon-144x144.png" sizes="144x144" />
<link rel="apple-touch-icon" href="/theme/boost/pix/{{output.env}}/icons/apple-touch-icon-152x152.png" sizes="152x152" />
<link rel="apple-touch-icon" href="/theme/boost/pix/{{output.env}}/icons/apple-touch-icon-180x180.png" sizes="180x180" />
<link rel="mask-icon" href="/theme/boost/pix/{{output.env}}/icons/safari-pinned-tab.svg" color="{{output.primarycolor}}" />
<meta name="apple-mobile-web-app-title" content="StudiUM" />
<meta name="application-name" content="StudiUM" />
<meta name="msapplication-tooltip" content="StudiUM" />
<meta name="msapplication-TileColor" content="{{output.primarycolor}}" />
<meta name="msapplication-navbutton-color" content="{{output.primarycolor}}" />
<meta name="msapplication-config" content="none" />
<meta name="msapplication-TileImage" content="/theme/boost/pix/{{output.env}}/icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/theme/boost/pix/{{output.env}}/icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/theme/boost/pix/{{output.env}}/icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/theme/boost/pix/{{output.env}}/icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/theme/boost/pix/{{output.env}}/icons/mstile-310x310.png" />
<meta property="og:title" content="StudiUM" />
<meta property="og:image" content="/theme/boost/pix/{{output.env}}/icons/mstile-310x150.png" />
<meta property="og:description" content=" L’Université de Montréal met à la disposition des professeurs, des chargés de cours et des étudiants un environnement numérique d’apprentissage et de collaboration – StudiUM !  StudiUM permet d’enrichir l’enseignement et l’apprentissage. Il peut être utilisé dans des cours en présence ou entièrement en ligne afin de soutenir les pratiques et activités suivantes : diffusion de ressources documentaires, échanges et collaboration, travaux de groupe, évaluation et notation." />
